html, body, #map-canvas { 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font: 14px 'Istok Web', sans-serif;
}

header, .things {
    position: absolute;
    z-index: 1000;
}

header {
    bottom: 8px;
    right: 10px;
    opacity: 0.4;
}

.things {
    top: 30px;
    left: 100px;
}

#search, #clear {
    text-decoration: none;
    display: inline-block;
    background-color: #4285F4;
    padding: 8px 16px;
    margin-left: 8px;
    color: white;
    box-shadow: 0px 2px 5px #888888;
    border-radius: 2px;
}

#input {
    padding: 8px 16px;
    box-shadow: 0px 2px 5px #888888;
    border: none;
    width: 200px;
}

#search:hover, #clear:hover {
    background-color: #3367D6;
}


